<% summary = ProjectSummary.new(projects) %>

<table class="projects-list">
  <thead>
    <tr>
      <th style="text-align:left">
        <%= l(:field_name) %>
        <br>
        <input type=text name=filter-by-project-name id=filter-by-project-name class=filter>
      </th>
      <th><%= l(:label_role) %></th>
      <th><%= l(:label_user_plural) %></th>
      <th><%= l(:label_issue_plural) %></th>
      <th><%= l(:label_activity) %></th>
    </tr>
  </thead>
  <tbody>
<% project_tree(projects) do |project, level| %>
  <% css_classes = "#{cycle "odd", "even"} #{project.css_classes} #{level > 0 ? "idnt idnt-#{level}" : nil}" %>
  <tr class="<%= css_classes %>">
    <td class="name project-more-toggle">
      <div class=contextual>
        <span class=more>[<%= l(:label_more).downcase %>]</span>
      </div>
      <span class="project-name">
        <%= link_to_project(project, {:action => 'show'}, :title => project.short_description) %>
      </span>
    </td>
    <td class=membership>
      <% if User.current.member_of?(project) %>
        <div class="am-i-member member">
          <%= User.current.roles_for_project(project).map(&:name).join("<br>").html_safe %>
        </div>
      <% else %>
        <div class="am-i-member not-member"><%= l(:label_role_non_member) %></div>
      <% end %>
    </td>
    <td class=users>
      <%= summary.users_count[project.id].to_i %>
    </td>
    <td class=issues>
      <span title="<%= l(:label_open_issues_plural) %>"><%= summary.issues_open_count[project.id].to_i %></span> /
      <span title="<%= l(:label_closed_issues_plural) %>"><%= summary.issues_closed_count[project.id].to_i %></span>
    </td>
    <td class=activity>
      <span class=barchart><%= summary.activity_statistics[project.id].join(",") %></span>
    </td>
  </tr>
  <tr class="<%= css_classes.gsub(/(even|odd) /,"even-odd-linked ") %> project-more">
    <td class="project-summary name" colspan=5>
      <div class=project-description>
        <%= textilizable project.description %>
      </div>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
