<input type=text name=filter-by-values id=filter-by-values class=filter placeholder='<%= l('quick_search') %>' >

<div class="autoscroll">
  <table class="projects-list list">
    <thead>
      <tr class="headers">
        <% @query.inline_columns.each do |column| %>
          <%= column_header(column) %>
        <% end %>
      </tr>
    </thead>
    <% previous_group = false %>
    <tbody>
    <% ProjectQuery.unsorted_project_tree(projects) do |project, level| -%>
      <% if @query.grouped? && (group = @query.group_by_column.value(project)) != previous_group %>
        <% reset_cycle %>
        <tr class="group open">
          <td colspan="<%= @query.inline_columns.size + 2 %>">
            <span class="expander" onclick="toggleProjectRowGroup(this);">&nbsp;</span>
            <%= group.blank? ? l(:label_none) : column_content(@query.group_by_column, project) %> <span class="count"><%= @project_count_by_group[group] %></span>
            <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                                 "toggleAllProjectsRowGroups(this)", :class => 'toggle-all') %>
          </td>
        </tr>
        <% previous_group = group %>
      <% end %>
      <tr id="project-line-<%= project.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= project.css_classes %> <%= url_for(:only_path => true) == url_for(@params) && level > 0 ? "idnt idnt-#{level}" : nil %>"> <!-- indent only if there no query : if basic url = current url -->
        <% columns = []
           @query.inline_columns.map do |column|
             additionnal_class = ""
             case column.name
               when :issues
                 column_content = content_tag(:span, "", class: "open_issues", title: l(:label_open_issues_plural))
                 column_content << " / "
                 column_content << content_tag(:span, "", class: "closed_issues", title: l(:label_closed_issues_plural))
               when :role
                 if @memberships[project.id].present?
                   column_content = "<div class='am-i-member member'>#{@memberships[project.id].map(&:name).join("<br>").html_safe}</div>"
                 else
                   column_content = "<div class='am-i-member not-member'>#{l(:label_role_non_member)}</div>"
                 end
               when :activity
                 column_content = "<span class=barchart></span>"
               when :issues
                 column_content = "<span></span>"
               when :users
                 column_content = "<span></span>"
               when :name
                 column_content = content_tag(:span, (link_to_project(project, {}, :title => project.short_description)), class: "project-name")
               when :members
                 column_content = @members_by_project[project.id]
               when /role_(\d+)$/
                 if @orgas_by_roles_and_projects[project.id.to_s] && @orgas_by_roles_and_projects[project.id.to_s][$1]
                   column_content = @orgas_by_roles_and_projects[project.id.to_s][$1].join(', ').html_safe
                 end
               when :organizations
                 column_content = @directions_map[project.id]
               else
                 column_content = column_content(column, project)
             end
             columns << "<td class=\"#{column.css_classes} #{additionnal_class}\">#{column_content}</td>"
           end
        %>
        <%= raw columns.join %>
      </tr>
      <% @query.block_columns.each do |column|
        if (text = column_content(column, project)) && text.present? -%>
          <tr class="<%= current_cycle %>">
            <td colspan="<%= @query.inline_columns.size + 1 %>" class="<%= column.css_classes %>"><%= text %></td>
          </tr>
        <% end -%>
      <% end -%>
    <% end -%>
    </tbody>
  </table>
</div>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => params.merge(:key => User.current.rss_key) %>
  <%= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;", :class=> "export_links" %>
  <%= f.link_to 'PDF', :url => params, :class=> "export_links" %>
<% end %>

<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag(params.merge({:format => 'csv',:page=>nil}), :method => :get, :id => 'csv-export-form') do %>
    <p>
      <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
      <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
    </p>
    <p>
      <label><%= check_box_tag 'description', '1', @query.has_column?(:description) %> <%= l(:field_description) %></label>
    </p>
    <p class="buttons">
      <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);" %>
      <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
    </p>
  <% end %>
</div>

<% cache ["project-statistics", Project.maximum(:created_on).to_i, Time.now.midnight.to_i].join("/") do %>
  <script type=text/javascript>
    <% summary = ProjectSummary.new(Project.pluck(:id)) %>
    cache = {
    <% projects.each do |project| %>
    <%= project.id %>: { stats: "<%= summary.activity_statistics[project.id].join(",") %>",
        users: <%= summary.users_count[project.id].to_i %>,
        open_issues: <%= summary.issues_open_count[project.id].to_i %>,
        closed_issues: <%= summary.issues_closed_count[project.id].to_i %> },
      <% end %>
    }
    $(function() {
      var $p
      <% projects.each do |project| %>
      $p = $("#project-line-<%=project.id%>")
      $p.find(".barchart").html(cache[<%=project.id%>].stats)
      $p.find(".users").html(cache[<%=project.id%>].users)
      $p.find(".open_issues").html(cache[<%=project.id%>].open_issues)
      $p.find(".closed_issues").html(cache[<%=project.id%>].closed_issues)
      <% end %>
      //draw activity sparklines on projects/index page
      $(".barchart").peity("bar", { colours: ["#aaa"], min: 0, max: 10,
        height:20, width: (27*(5+1)-1) })
    })
  </script>
<% end %>
