<h3><%=l(:label_general) %></h3>
<%= link_to(l(:label_project_all), {:controller => 'projects'}) %><br />
<%= call_hook(:view_cross_sidebar_projects_bottom) %>

<h3><%=l(:label_issue_plural)%></h3>
<% if User.current.allowed_to?(:view_issues, nil, :global => true) -%>
  <%= link_to(l(:label_issues_visibility_all), issues_path) %><br />
<% end -%>
<% if User.current.allowed_to?(:view_gantt, nil, :global => true) %>
  <%= link_to(l(:label_gantt), :controller => 'gantts', :action => 'show') %>
<% end -%>
<% if User.current.allowed_to?(:view_gantt, nil, :global => true) %>
  | <%= link_to(l(:label_calendar), :controller => 'calendars', :action => 'show') %>
<% end -%>
<%= call_hook(:view_cross_sidebar_issues_bottom) %>

<% if defined?(sidebar_queries) && sidebar_queries.present? -%>
  <% public_queries, private_queries = sidebar_queries.partition{|q| q.is_public?} %>
  <% if private_queries.any? -%>
    <h4><%= l(:label_my_queries) %></h4>
    <%= content_tag(:div, :class => 'subsection') do %>
      <% private_queries.each do |query| -%>
        <%= link_to(h(query.name), :controller => 'issues', :action => 'index', :query_id => query) %><br />
      <% end -%>
    <% end %>
  <% end %>
  <h4><%= l(:label_query_plural) %></h4>
  <%= content_tag(:div, :class => 'subsection') do %>
    <% public_queries.each do |query| -%>
      <%= link_to(h(query.name), :controller => 'issues', :action => 'index', :query_id => query) %><br />
    <% end -%>
  <% end -%>
<% end -%>

<% if User.current.allowed_to?(:view_time_entries, nil, :global => true) \
  && EnabledModule.where(:name => "time_tracking").first %>
<h3><%=l(:label_time_entry_plural)%></h3>
<%= link_to(l(:label_overall_spent_time), time_entries_path) %><br />
<% end -%>
<%= call_hook(:view_cross_sidebar_time_entries_bottom) %>

<h3><%=l(:label_activity) %></h3>
<%= link_to l(:label_overall_activity), {:controller => 'activities', :action => 'index', :id => nil} %><br />
